/* Use Apple's San Fransisco Font */
@font-face {
   src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
   font-family: "San Fransisco";
   /* font-weight: 400; */
}

body {
   background: rgb(79,55,245);
   font-family: "San Fransisco";

}

.grid-container {
  display: grid;
  grid-template-columns: 7.5% min-content auto min-content 7.5%;
  grid-template-rows: min-content 1fr min-content 5%;
  gap: 1% 1%;
  grid-template-areas:
    ". . headerDiv . ."
    ". audioVisualizerDiv audioVisualizerDiv audioVisualizerDiv ."
    ". controlsDiv controlsDiv controlsDiv ."
    ". . . . .";
}

section {
   padding: 10px;
   border-radius: 1em;
}

.headerDiv {
   grid-area: headerDiv;
   display: grid;
   grid-template-columns: 30% 70%;
   grid-template-rows: 1fr;
   grid-template-areas:
   "logoDiv titleDiv";
}

.audioVisualizerDiv {
   grid-area: audioVisualizerDiv;

   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr min-content;
   gap: 1% 1%;
   grid-template-areas:
   "waveformDiv waveformDiv"
   "visualizerControlsDiv mainVisualizerDiv";

   background-color: rgb(105,55,245);
}

.mainVisualizerDiv {
   grid-area: mainVisualizerDiv;
   background-color: black;
}

.visualizerControlsDiv {
   grid-area: visualizerControlsDiv;
   background-color: rgb(130,75,250);
}


.controlsDiv {
   grid-area: controlsDiv;
   background-color: rgb(25,25,25);
   text-align: center;
   color: white;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 0.1% min-content min-content 1fr 0.4fr;
   gap: 7% 1%;
   grid-template-areas:
     ". . ."
     "restartButtonDiv playbackControlsDiv volumeControlDiv"
     "bassTrebleSliderDiv panSliderDiv radioVisualizationDiv"
     "chooseSongDiv chooseSongDiv descriptionDiv"
     ". . .";
}

.waveformDiv {
   grid-area: waveformDiv;
   background-color: black;
}

.playbackControlsDiv {
   grid-area: playbackControlsDiv;
}

.volumeControlDiv {
   grid-area: volumeControlDiv;
}

.panSliderDiv {
   grid-area: panSliderDiv;
}

.restartButtonDiv {
   grid-area: restartButtonDiv;
}

.radioVisualizationDiv {
   grid-area: radioVisualizationDiv;
}

.bassTrebleSliderDiv {
   grid-area: bassTrebleSliderDiv;
}

.titleDiv {
   grid-area: titleDiv;
   text-align: left;
}

.logoDiv {
   grid-area: logoDiv;
   margin-left: auto;
   margin-right: auto;
}
.headerDiv img {
   height: 75px;
}

.descriptionDiv {
   grid-area: descriptionDiv;
   color: black;
   background-color: gray;
   text-align: left;
 }

.chooseSongDiv {
   grid-area: chooseSongDiv;
   color: white;
   background-color: rgb(75,75,75);
}

canvas {
   margin-left: auto;
   margin-right: auto;
   display: block;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	background: #fafafa;
}

h3 {
   text-align: center;
}


button {
   font-size: 1.5rem;
}

button[data-playing="yes"]:after{
  content: "Pause";
}

button[data-playing="no"]:after{
  content: "Play";
}

button[data-playing="processing"]:after{
  content: "Processing Song...";
}

input[type=file] {
   border: 2px dashed white;
   padding: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}

.useChromium {
   display: none;
   width: 100vw;
   height: 100vh;
   z-index: 100;
   text-align: center;
   background-color: rgba(25,25,25,0.5);
}
