/* Use Apple's San Fransisco Font */
@font-face {
   src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
   font-family: "San Fransisco";
   /* font-weight: 400; */
}

body {
   background: #eeeeee;
   font-family: "San Fransisco";
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 10%;
  grid-template-rows: 5% 1fr 1fr 1fr 1fr;
  gap: 1% 1%;
  grid-template-areas:
    ". logoDiv titleDiv . ."
    ". audioVisualizerDiv audioVisualizerDiv audioVisualizerDiv ."
    ". visualizerControlsDiv visualizerControlsDiv playbackControlsDiv ."
    ". uploadDiv descriptionDiv descriptionDiv ."
    ". . . . .";
}

section {
   padding: 10px;
   border-radius: 1em;
}

.audioVisualizerDiv {
   grid-area: audioVisualizerDiv;
   background-color: blue;
}

.titleDiv {
   grid-area: titleDiv;
   text-align: center;
}

.logoDiv {
   grid-area: logoDiv;
   margin-left: auto;
   margin-right: auto;
}
.logoDiv img {
   height: 100px;
}

.descriptionDiv {
   grid-area: descriptionDiv;
   background-color: gray;
 }

.uploadDiv {
   grid-area: uploadDiv;
   background-color: gold;
}

.visualizerControlsDiv {
   grid-area: visualizerControlsDiv;
   background-color: green;
}

.playbackControlsDiv {
   grid-area: playbackControlsDiv;
   background-color: purple;
}



canvas {
   margin-left: auto;
   margin-right: auto;
   display: block;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	background: #fafafa;
}

h3 {
   text-align: center;
}


button {
   font-size: 1.5rem;
}

button[data-playing="yes"]:after{
  content: "Pause";
}

button[data-playing="no"]:after{
  content: "Play";
}

input[type=file] {
   border: 2px dashed red;
   padding: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}
