/* Use Apple's San Fransisco Font */
@font-face {
   src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
   font-family: "San Fransisco";
   /* font-weight: 400; */
}

body {
   background: #eeeeee;
   font-family: "San Fransisco";
}

.grid-container {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 10%;
  grid-template-rows: 5% 1fr min-content 1fr 1fr 5%;
  gap: 1% 1%;
  grid-template-areas:
    ". . headerDiv . ."
    ". audioVisualizerDiv audioVisualizerDiv audioVisualizerDiv ."
    ". waveformVisualizerDiv waveformVisualizerDiv waveformVisualizerDiv ."
    ". chooseSongDiv visualizerControlsDiv visualizerControlsDiv ."
    ". descriptionDiv descriptionDiv descriptionDiv ."
    ". . . . .";
}

section {
   padding: 10px;
   border-radius: 1em;
}

.headerDiv {
   grid-area: headerDiv;
   display: grid;
   grid-template-columns: 30% 70%;
   grid-template-rows: 1fr;
   grid-template-areas:
   "logoDiv titleDiv";
}

.audioVisualizerDiv {
   grid-area: audioVisualizerDiv;
   background-color: blue;
}

.waveformVisualizerDiv {
   grid-area: waveformVisualizerDiv;
   background-color: rgb(25,25,25);
   text-align: center;
   color: white;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 15% 1%;
   grid-template-areas:
     "waveformDiv waveformDiv waveformDiv"
     "restartButtonDiv playbackControlsDiv volumeControlDiv";
}

.waveformDiv {
   grid-area: waveformDiv;
}

.playbackControlsDiv {
   grid-area: playbackControlsDiv;
}

.volumeControlDiv {
   grid-area: volumeControlDiv;
}

.restartButtonDiv {
   grid-area: restartButtonDiv;
}

.titleDiv {
   grid-area: titleDiv;
   text-align: left;
}

.logoDiv {
   grid-area: logoDiv;
   margin-left: auto;
   margin-right: auto;
}
.headerDiv img {
   height: 75px;
}

.descriptionDiv {
   grid-area: descriptionDiv;
   background-color: gray;
 }

.chooseSongDiv {
   grid-area: chooseSongDiv;
   background-color: gold;
}

.visualizerControlsDiv {
   grid-area: visualizerControlsDiv;
   background-color: green;
}




canvas {
   margin-left: auto;
   margin-right: auto;
   display: block;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
	background: #fafafa;
}

h3 {
   text-align: center;
}


button {
   font-size: 1.5rem;
}

button[data-playing="yes"]:after{
  content: "Pause";
}

button[data-playing="no"]:after{
  content: "Play";
}

button[data-playing="processing"]:after{
  content: "Processing Song...";
}

input[type=file] {
   border: 2px dashed red;
   padding: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}
